body {
    background-color: #F6F3F3;
    font-family: 'prompt', sans-serif;
    color: black;
}


.form-entry {
    background-color: #F6F3F3;
}

.form {
    background-color: #F6F3F3;
    border: 1px solid;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 5px 10px 18px;
}

.theme-col {
    background-color: #648698;
    border-color: #648698;
    color: #fff;
}

.text-white {
    color: #fff;
}

.indented {
    padding-left: 19px;
}

.theme-col:hover {
    background-color: #a0b2bc;
    border-color: #a0b2bc;
    text-decoration: none;
    color:#fff;
}

.write-col {
    color: #19B1EE;
}



.center-height {
    padding-top: 15%;
}

.btn-long {
    padding: .375rem 10%;
    border-radius: 10px;
}

.iti-img {
    height: 296px;
    width: 100%;
}




.img-container {
    position: relative;
    display: inline-block;

}

img.destinations {
    border-radius: 15px;
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}

.img-container .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: black;
    opacity:0;
    transition:opacity 300ms ease-in-out;
    color:#fff;
    border-radius: 15px;
  }
  .img-container:hover .overlay{
    opacity:0.6;
  }
  .overlay span{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#fff;
    opacity: 1;
  }

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}
/*Header CSS*/
/*
header {
    background-color: #648698;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 40px;
}

nav {
    background-color: #648698;
    font-size: 16px;
}

    nav:hover > div > ul > li > a.nav-current {
        background-color: #648698;
    }

.navbar-light {
    color: #a0b2bc;
}

.nav-item {
    padding-bottom: 5px;
    padding-top: 5px;
    color: #a0b2bc;
}

    .nav-item:hover {
        padding-bottom: 5px;
        padding-top: 5px;
        color: black;
        border-radius: 10px;
        background-color: #a0b2bc;
    }

        .nav-item:hover > a.nav-current {
            background-color: #a0b2bc;
        }

.nav-current {
    border-radius: 10px;
    background-color: #a0b2bc;
}

.dropdown-menu {
    background-color: #a0b2bc;
    border-radius: 10px;
}

.dropdown-item:hover {
    border-radius: 10px;
    background-color: #648698;
}
*/

/*Footer CSS*/
/*
footer {
    background-color: #648698;
}

.list-unstyled > li > a {
    color: #a0b2bc;
}

.list-unstyled > li {
    padding-top: 3px;
    padding-bottom: 3px;
}

.footer-copyright {
    color: #a0b2bc;
    font-size: 14px;
    padding: 0px;
}

*/


