body {
    background-color: #F6F0ED;
    font-family: 'prompt', sans-serif;
}


.form-entry {
    background-color: #F6F0ED;
}

.form {
    background-color: #F6F0ED;
    border: 1px solid;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 5px 10px 18px;
}

.center-height {
    padding-top: 15%;
}

.btn-long {
    padding: .375rem 10%;
    border-radius: 10px;
}




