/*Header CSS*/
header {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 40px;
    height: 151px;
    background-image: url("../img/header.png");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: 0 0;
}

nav {
    font-size: 16px;
}

.nav-current {
    border-radius: 10px;
    background-color: #a0b2bc;
}

    nav:hover > div > ul > li > a.nav-current {
        background-color: transparent;
    }

.navbar-light {
    color: #a0b2bc;
}

.nav-item {
    padding-bottom: 5px;
    padding-top: 5px;
    color: #a0b2bc;
}

    .nav-item:hover {
        padding-bottom: 5px;
        padding-top: 5px;
        color: black;
        border-radius: 10px;
        background-color: #a0b2bc;
    }

        .nav-item:hover > a.nav-current {
            background-color: transparent;
        }

.dropdown-menu {
    background-color: #a0b2bc;
    border-radius: 10px;
}

.dropdown-item:hover {
    border-radius: 10px;
    background-color: #648698;
}

@media only screen and (max-width: 991px) {
    nav {
        margin-top: 5px;
        background-color: #536B7B;
    }
}

/*Footer CSS*/
footer {
    background-color: #648698;
}

.list-unstyled > li > a {
    color: #a0b2bc;
}

.list-unstyled > li {
    padding-top: 3px;
    padding-bottom: 3px;
}

.footer-copyright {
    color: #a0b2bc;
    font-size: 14px;
    padding: 0px;
}

