*{
  margin:0;
  padding:0;
}

body{
  margin:0;
  font-family: 'prompt', sans-serif;
  font-size:17px;
  color:Black;
  line-height:1.6;
}

#back{
  margin-left: 15vw;
  margin-top:5vh;
}

#back .button{
  font-size:20px;
  text-decoration:none;
  color:black;
  border:black 2px solid;
  padding:10px 20px;/* QUESTION:  */
  border-radius:10px;
  margin-top:20px;
}

#back .button:hover{
  background:#00cccc;
  color:#fff;
  border:#00cccc 2px solid;
}

#Itinerary{
  background-image:url('image.jpg');/*insert background image*/
  background-size:cover;
  background-position:center;
  height:20vh;/*viewport height*/
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
}

#Itinerary h1{
  font-size:50px;
  line-height:1.2;
}

#Itinerary p{
  font-size:20px;
}

#Itinerary .button{
  font-size:18px;
  text-decoration:none;
  color:#00cccc;
  border:#00cccc 1px solid;
  padding:10px 20px;
  border-radius:10px;
  margin-top:20px;
}

#Itinerary .button:hover{
  background:#00cccc;
  color:#fff;
}

#nyc{
  background-image:url('#');/*insert background image*/
  background-size:cover;
  background-position:center;
  height:20vh;/*viewport height*/
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
}

#nyc h1{
  font-size:50px;
  line-height:1.2;
}

#nyc p{
  font-size:20px;
}

#lake{
  background-image:url('#');/*insert background image*/
  background-size:cover;
  background-position:center;
  height:20vh;/*viewport height*/
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
}

#lake h1{
  font-size:50px;
  line-height:1.2;
}

#lake p{
  font-size:20px;
}

#section1{
  padding:20px;
  background:#00cccc;
  color:#fff;
  text-align:center;
  margin-left: 15vw;
  margin-right: 15vw;
}

#section1 .button{
  font-size:18px;
  text-decoration:none;
  color:#fff;
  padding:10px 20px;
  border-radius:10px;
  margin-top:20px;
}

#section1 .button:hover{
  background:#00cccc;
  color:#fff;
}

#section2{
  padding:20px;
  background:#00cccc;
  color:#fff;
  text-align:center;
  margin-left: 15vw;
  margin-right: 15vw;
}

#section2 .button{
  font-size:18px;
  text-decoration:none;
  color:#fff;
  padding:10px 20px;
  border-radius:10px;
  margin-top:20px;
}

#section2 .button:hover{
  background:#00cccc;
  color:#fff;
}
