*{
  margin:0;
  padding:0;
}

body{
  margin:0;
  font-family: 'prompt', sans-serif;
  font-size:17px;
  color:black;
  line-height:1.6;
}

#header{
  background-image:url('image.jpg');/*insert background image*/
  background-size:cover;
  background-position:center;
  height:20vh;/*viewport height*/
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
}

#header h1{
  font-size:50px;
  line-height:1.2;
}

#header p{
  font-size:20px;
}

#back{
  margin-left: 15vw;
  margin-top:5vh;
}

#back .button{
  font-size:20px;
  text-decoration:none;
  color:black;
  border:black 2px solid;
  padding:10px 20px;/* QUESTION:  */
  border-radius:10px;
  margin-top:20px;
}

#back .button:hover{
  background:#19B1EE;
  color:#fff;
  border:#19B1EE 2px solid;
}

#section{
  padding:20px;
  background:#19B1EE;
  color:#fff;
  text-align:center;
  margin-left: 15vw;
  margin-right: 15vw;
}

#section .button{
  font-size:20px;
  text-decoration:none;
  color:#fff;
  border:#fff 2px solid;
  padding:10px 20px;
  border-radius:10px;
  margin-top:20px;
}

#section .button:hover{
  background:#fff;
  color:#00cccc;
  border:#fff 2px solid;
}

#complete{
  background-image:url('background.jpg');/*insert background image*/
  background-size:cover;
  background-position:center;
  height:100vh;/*viewport height*/
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
}

#complete{
  margin:0;
  font-family: 'prompt', sans-serif;
  font-size:17px;
  color:#19B1EE;
  line-height:1.6;
}

#complete h1{
  font-size:60px;
  line-height:1.2;
}

#complete p{
  font-size:20px;
}

#complete .button{
  font-size:20px;
  text-decoration:none;
  color:#19B1EE;
  border:#19B1EE 2px solid;
  padding:10px 20px;
  border-radius:10px;
  margin-top:20px;
}

#complete .button:hover{
  background:#19B1EE;
  color:#fff;
  border:#19B1EE 2px solid;
}
