*{
  margin:0;
  padding:0;
}

body{
  margin:0;
  font-family: 'prompt', sans-serif;
  font-size:17px;
  color:black;
  line-height:1.6;
}

#FAQ{
  background-image:url('image.jpg');/*insert background image*/
  background-size:cover;
  background-position:center;
  height:25vh;/*viewport height*/
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
}

#FAQ h1{
  font-size:50px;
  line-height:1.2;s
}

#FAQ p{
  font-size:20px;
}

#back{
  margin-left: 15vw;
  margin-top:5vh;
}

#back .button{
  font-size:20px;
  text-decoration:none;
  color:black;
  border:black 2px solid;
  padding:10px 20px;/* QUESTION:  */
  border-radius:10px;
  margin-top:20px;
}

#back .button:hover{
  background:#00cccc;
  color:#fff;
  border:#00cccc 2px solid;
}

#sections{
  padding:20px;
  background:#00cccc;
  color:#fff;
  text-align:center;
  margin-left: 15vw;
  margin-right: 15vw;
}
