*{
  margin:0;
  padding:0;
}

body{
  margin:0;
  font-family: 'prompt', sans-serif;
  font-size:17px;
  color:#00cccc;
  line-height:1.6;
}

#destination{
  background-image:url('image.jpg');/*insert background image*/
  background-size:cover;
  background-position:center;
  height:80vh;/*viewport height*/
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
}

#destination h1{
  font-size:50px;
  line-height:1.2;
}

#destination p{
  font-size:20px;
}

#destination .button{
  font-size:18px;
  text-decoration:none;
  color:#00cccc;
  border:#00cccc 2px solid;
  padding:10px 20px;
  border-radius:10px;
  margin-top:20px;
}

#destination .button:hover{
  background:#00cccc;
  color:#fff;
}

#back{
  margin-left: 15vw;
  margin-top:5vh;
}

#back .button{
  font-size:20px;
  text-decoration:none;
  color:#00cccc;
  border:#00cccc 2px solid;
  padding:10px 20px;
  border-radius:10px;
  margin-top:20px;
}

#back .button:hover{
  background:#00cccc;
  color:#fff;
  border:#00cccc 2px solid;
}
